body{
	margin: 0;
	font-family: 'Roboto';
	background-color: #009ACD;	
}#banner{
	width: 399px;
	height: 105px;
	margin: 0 auto;
}
#bannerMenu{
	margin-left: 3	0px;
}
#home {
    background-color: #047bbc;
    height: 50px;
    width: 100%;
    border-bottom: 2px solid #1874CD;
    margin-left: 0px;
}
#forms{
	height: 300px;
	width: 628px;
	margin:auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}
#cadastrar, #logar{
	background-color: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);	
  	padding: 7px;
  	margin: 0 7px 0 7px;
  	float: left;
	height: 300px;
	width: 300px;
}
#logar input, #cadastrar input{
	margin: 4px;
}
#logar input[type="submit"], #cadastrar input[type="submit"]{
	width: 100%;
	margin: 0;
	border: 0;
	background-color: #4c4545;
	color: white;
	padding: 4px 0px 2px 4px;
}
#logar input[type="submit"]:hover, #cadastrar input[type="submit"]:hover{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#logar input[type="text"], #logar input[type="password"], #cadastrar input[type="text"], #cadastrar input[type="password"]{
	border: 0;
    outline: 0;
    width: 100%;
    margin-left: 0;
    background: transparent;
    border-bottom: 2px solid black;
}
#logar input[type="text"]:focus, #logar input[type="password"]:focus, #cadastrar input[type="text"]:focus, #cadastrar input[type="password"]:focus{
	border-bottom: 2px solid #009ACD;	
}

/*  responsivo  */
@media screen and (max-width: 600px){
	#cadastrar, #logar{
		width: 100%;
		margin: initial;
		margin-bottom: 10px;
	}
	#forms{
		height: 605px;
		width: 90%;
		position: static;
	}
}
